

@media (min-width: 600px) {

    .ad-row{
        background-color: white;
        padding: 7px;
        height: 199px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }

}

@media (max-width: 600px) {

    .ad-row{
        background-color: white;
        padding: 9px;
        height: 102px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }
    
}