
@media (min-width: 600px) {
    .story-card{
        position: relative;
        background-color: white;
        width: 268px;
        height: 302px;
        padding: 7px;
        text-align: end;


        .upper-part{
            position: relative;
            height: 160px;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .tag{
                position: relative;
                display: grid;
                align-items: center;
                justify-items: center;
                width: 117px;
                height: 24px;
                position: absolute;
                bottom: 0px;
                right: 0px;
                font-size: 0.75rem;
                z-index: 1;

                .svg-tag{
                    position: absolute;
                    bottom: -3px;
                    right: 0px;
                    z-index: -1;
                }

            }
        }

        .lower-part{
            margin-top: 4px;
            padding: 7px;
            font-size: 0.82rem;

            .info{
                display: flex;
                gap: 4px;
                position: absolute;
                bottom: 7px;
                right: 7px;
                opacity: 58%;
            }

        }



    }
}

@media (max-width: 600px) {

    .story-card{
        background-color: white;
        padding: 9px;
        height: 88px;
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;


        .upper-part{
            position: relative;

            img{
                width: 161px;
                height: 100%;
            }

            .tag{
                position: relative;
                display: grid;
                align-items: center;
                justify-items: center;
                width: 85px;
                height: 20px;
                position: absolute;
                right: 0px;
                bottom: 0px;
                font-size: 0.55rem;
                z-index: 1;

                .svg-tag{
                    position: absolute;
                    bottom: -3px;
                    right: 0px;
                    z-index: -1;
                }
            }

        }

        .lower-part{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: end;
            font-size: 0.8rem;

            .info{
                display: flex;
                justify-content: end;
                gap: 4px;
                opacity: 58%;
            }
        }

    }
}
