
@media (min-width: 600px) {

    .top-stories{
        display: flex;
        justify-content: center;
        margin-top: 100px;

        .splitter-columns{
            position: relative;
            width: 1200px;
            height: 1437px;
            display: grid;
            grid-template-columns: 282px 876px;
            justify-content: space-between;

            
            .splitter-rows{
                display: grid;
                grid-template-rows: 1fr 978px 1fr;
                gap: 15px;
            }

            .vertical-line{
                position: absolute;
                left: 302px;
                width: 1px;             
                height: 100%;          
                background-color: #5806C7; 
                opacity: 42%;
            }
        }


    }

}

@media (max-width: 600px) {
    
    .top-stories{
        margin-top: 24px;


        .splitter-rows{
            display: flex;
            flex-direction: column;
            justify-self: center;
            gap: 10px;
            width: 416px;
        }

        .ad-row-end{
            display: none;
        }

        .vertical-line{
            display: none;
        }
    }

}

