
@media (min-width: 600px) {

    .most-viewed-column{
        display: flex;
        flex-direction: column;
        text-align: end;
        justify-content: space-between;

        h2{
            font-weight: 100;
            font-size: 1.75rem;
        }
    }

}



@media (max-width: 600px) {

    .most-viewed-column{
        display: none;
    }
    
}
