
@media (min-width: 600px) {

    .headlines{
        display: grid;
        grid-template-rows: 311px 1fr;
        gap: 15px;

        .main-headline{
            background-color: white;
            padding: 12px 12px 12px 27px;
            display: flex;
            gap: 20px;

            .main-headline-left{
                position: relative;
                max-height: 285px;
                display: grid;
                grid-template-rows: 22px auto 1fr;
                gap: 15px;
                text-align: end;     
                overflow: hidden;
                text-overflow: ellipsis;

                h1{ 
                    font-weight: 100;
                    font-size: 1.8rem;
                    line-height: 1.2;
                }
                h3{ 
                    justify-items: end;
                    font-weight: 100;
                    font-size: 0.95rem;
                    line-height: 1.5;

                }
                p { 
                    font-size: 0.9rem;
                    display: flex;
                    justify-content: end;
                    gap: 4px;
                    color: #929292;
                }

                .fade{
                    position: absolute;
                    bottom: 0px;
                    height: 50px;
                    width: 100%;
                    background: linear-gradient(to bottom, transparent, white);

                }
            }

            .main-headline-right{
                position: relative;

                img{
                    // makinging sure too long or too 
                    // wide images wont disrupt te ui
                    height: 100%;
                    max-height: 285px;
                    width: 501px;
                    object-fit: cover;
                }

                .tag{
                    display: grid;
                    align-items: center;
                    justify-items: center;
                    width: 166px;
                    height: 37px;
                    position: absolute;
                    right: 1px;
                    bottom: 3px;
                }

            }
            

        }

        .headlines-card-list{
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(3, 1fr);
            gap: 15px;
        }
    }
   
    
}


@media (max-width: 600px) {
    .headlines{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .main-headline{
            background-color: white;
            display: flex;
            flex-direction: column-reverse;
            gap: 15px;
            padding: 9px;

            .main-headline-right{
                position: relative;

                img{
                    height: 233px;
                    width: 100%;
                    object-fit: cover;
                }

                .tag{
                    display: grid;
                    align-items: center;
                    justify-items: center;
                    position: absolute;
                    right: 0px;
                    bottom: 3px;
                    width: 167px;
                    height: 35px;
                    font-size: 0.9rem;
                }
            }

            .main-headline-left{
                display: flex;
                flex-direction: column;
                text-align: end;
                gap: 5px;
                padding-left: 25px;
                padding-right: 25px;

                > :nth-child(1) {
                    order: 3;
                }

                h1{
                    font-weight: 100;
                    font-size: 1.2rem;
                    line-height: 1.2;
                }

                h3{
                    justify-items: end;
                    font-weight: lighter;
                    font-size: 0.92rem;
                    line-height: 1.6;
                }

                p{
                    margin-top: 10px;
                    display: flex;
                    justify-content: end;
                    gap: 4px;
                    color: #929292;
                    font-size: 0.8rem;
                }

                .fade{
                    display: none;
                }
            }
        }

        .headlines-card-list{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}


