.news-card{
    position: relative;
    background-color: white;
    width: 282px;
    height: 302px;
    padding: 7px;
    text-align: end;


    .upper-part{
        position: relative;
        height: 160px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .tag{
            background-color: aqua;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }

    .info{
        position: absolute;
        bottom: 7px;
        right: 7px;
    }

}